[submodule "external/software/SW9S"]
	path = external/software/SW9S
	url = git@github.com:ncsurobotics/SW9S.git
[submodule "external/software/AUVControlBoard"]
	path = external/software/AUVControlBoard
	url = git@github.com:ncsurobotics/AUVControlBoard.git
[submodule "external/software/SW9-MSB"]
	path = external/software/SW9-MSB
	url = git@github.com:ncsurobotics/SW9-MSB.git
